.documentation-page {
    padding-bottom: @spacer-4;

    h2 {
        margin-bottom: @spacer-4;
        font-size: @font-size-jumbo;
        font-weight: @font-weight-medium;

        + p {
            margin-top: @spacer-6;
        }
    }

    h3 {
        margin-top: @spacer-7;
        margin-bottom: @spacer-4;
        font-size: @font-size-xlarge;
        font-weight: @font-weight-medium;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: -.2em;
        color: @color-brand-primary;

        a {
            font-weight: 300;

            &:hover {
                text-decoration: none;
            }
        }
    }

    p {
        margin-top: @spacer-2;
        margin-bottom: @spacer-4;
    }

    a {
        .link-brand;
    }

    blockquote {
        margin-top: @spacer-4;
        margin-bottom: @spacer-4;
        padding: @spacer-1 @spacer-4;
        color: @text-dark-soft;
        border-left: .25rem solid @color-gray-light;
        > p {
            margin: 0;
        }
    }

    pre + blockquote {
        margin-top: @spacer-6;
    }

    code {
        display: inline-block;
        padding-left: @spacer-1;
        padding-right: @spacer-1;
        font-size: @font-size-small;
        background-color: @color-gray-lighter;
    }

    pre {
        margin-bottom: @spacer-4;
        padding: @spacer-2 @spacer-4;
        line-height: 1.75;
        background-color: @color-gray-warm;
        > code {
            display: inline;
            padding: 0;
            background: none;
        }
    }

    ol, ul {
        margin-bottom: 1rem;
        padding-left: 2rem;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }

    li {
        margin-bottom: @spacer-2;
    }

    img {
        max-width: 100%;
    }

    hr {
        border: none;
        border-bottom: 1px solid #ddd;
        margin: @spacer-6 0;
    }
}
