@tailwind preflight;
@tailwind components;

@import 'typography';
@import 'files';
@import 'documentation-page';
@import 'code-editor';
@import 'docsearch';

// backgrounds
.bg-gradient-purple {
    background: #884992;
    background: -webkit-linear-gradient(to right, #703e84, #884992);
    background: linear-gradient(to right, #703e84, #884992);
}

.container-content {
    @apply .max-w-3xl;
    @apply .mx-auto;
    @apply .px-4;
}

// responsive styles
@screen md {
    .container-content {
        @apply .px-6;
    }
}

@screen xl {
    .container-content {
        @apply .px-0;
    }
}

@tailwind utilities;
