.markdown {
    a {
        @apply .no-underline;
        @apply .text-purple-dark;

        &:hover {
            @apply .text-purple-darker;
            @apply .underline;
        }
    }

    blockquote {
        @apply .border-grey-light;
        @apply .border-l-4;
        @apply .my-4;
        @apply .px-6;
        @apply .py-2;
        @apply .text-grey;

        > p {
            @apply .m-0;
        }
    }

    code {
        @apply .bg-grey-lighter;
        @apply .inline;
        @apply .leading-normal;
        @apply .text-blue-dark;
        @apply .text-sm;
        @apply .w-4/5;

        padding: 3px 7px;
    }

    h1 {
        @apply .mb-4;
        @apply .mt-10;
        @apply .text-blue-darker;

        &:first-child {
            @apply .mt-6;
        }
    }

    h2 {
        @apply .mb-4;
        @apply .mt-10;
        @apply .text-blue-darker;

        &:first-child {
            @apply .mt-6;
        }
    }

    h3 {
        @apply .mb-4;
        @apply .mt-10;
        @apply .text-blue-darker;

        &:first-child {
            @apply .mt-6;
        }
    }

    h4 {
        @apply .mb-2;
        @apply .mt-6;
        @apply .text-blue-darker;
    }

    hr {
        @apply .border;
        @apply .border-grey-light;
        @apply .mb-4;
        @apply .mt-10;
    }

    img {
        @apply .max-w-full;
    }

    li {
        @apply .mb-3;

        > ul {
            @apply .pl-4;
        }
    }

    ol {
        list-style-type: decimal;
    }

    ol,
    ul {
        @apply .my-4;
        @apply .pl-2;
    }

    p {
        @apply .leading-normal;
        @apply .my-5;
        @apply .text-blue-dark;
        @apply .text-base;
    }

    pre {
        @apply .bg-grey;
        @apply .leading-normal;
        @apply .mb-8;
        @apply .mt-4;
        @apply .overflow-x-auto;
        @apply .px-4;
        @apply .pt-2;
        @apply .pb-3;
        @apply .rounded;

        max-width: 43em; // prevent code snippets from breaking width

        > code {
            @apply .bg-transparent;
            @apply .inline;
            @apply .p-0;
        }
    }

    pre + blockquote {
        @apply .mt-6;
    }

    ul {
        > li {
            @apply .leading-normal;
            @apply .list-reset;
            @apply .mb-2;
            @apply .ml-4;
            @apply .pb-1;
            @apply .text-blue-dark;
            @apply .pl-5;
        }

        > li::before {
            @apply .absolute;
            @apply .bg-center;
            @apply .bg-cover;
            @apply .h-4;
            @apply .-ml-6;
            @apply .mt-1;
            @apply .w-4;

            background-image: url('/assets/img/icon-arrow.svg');
            content: '';
        }
    }
}
